@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

:root {
  /* --purple: #340050; */
  --colors: #c7886b, #824a4d, #516e68, #5e824e;
  --purple: #11001a;
  /* background-color: rgb(206, 50, 17), rgb(81, 86, 113), rgb(38, 176, 190),
    rgb(127, 192, 70), rgb(255, 29, 20); */
}

.cat-container .btn-purple:focus {
  filter: saturate(-25%) !important;
}

.cat-container img {
  border-radius: 1%;
  box-shadow: 2px 2px black;
}

body {
  padding-top: 25px;
  font-family: "Roboto", sans-serif;
  background-image: url(/pattern.svg);
}

.titlebar {
  z-index: 10000;
  height: 20px;
  background: #28421d;
  user-select: none;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.list-group img {
  filter: invert() brightness(80%);
  margin-right: 2px;
}

.list-group-item {
  border: 1px solid rgb(80 80 80);
  background-color: black !important;
  color: white !important;
  transition: 0.3s ease-in-out;
}

.list-group a:nth-child(odd) .list-group-item:hover {
  background-color: #c7886b !important;
  transform: translateX(3%);
}
.list-group a:nth-child(even) .list-group-item:hover {
  background-color: #824a4d !important;
  transform: translateX(3%);
}

.list-group :nth-child(odd) .list-group-item:hover {
  background-color: #c7886b !important;
  transform: translateX(3%);
}
.list-group :nth-child(even) .list-group-item:hover {
  background-color: #824a4d !important;
  transform: translateX(3%);
}

.list-group a {
  text-decoration: none;
}

* :not(.titlebar) {
  top: 20px;
}

.offcanvas {
  top: 20px !important;
  background-color: #1b161f !important;
  color: white;
}

 .titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 20px;
  filter: invert();
  transition: 0.3s;
}
 .titlebar-title {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  color: white;
  margin-right: auto;
  transition: 0.3s;
}

.titlebar-title p{
  margin-left: 10px;
  margin-bottom: 0px;
}

.titlebar-button:hover {
  background: #262626;
}
